body {
  margin:0;
}
h1 {

  background: transparent;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}
h3 {
  margin:0 5px 0 0;
  background: #000000;
  color: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}
h4 {
  margin:0 5px 0 0;
  background: #cccccc;
  color: #000000;
  border-radius: 4px;
  padding: 3px;
  text-align: center;
}
li {
  list-style-type: none;
}

button {
  /* margin-right:40px; */
  text-align: center;
}
button p{
  /* margin-right:40px; */
  text-align: center;
}
a{
  text-decoration:'none';
  color:'black';
}
p {
  font-size:1.5vw;
}

#root {
  padding:0;
  margin:0;
}
.updated {
  font-size:1vw;
}

.timeago {
  font-size:.8vw;
}

.status {
  font-size:1vw;
  background-color:black;
  color:white;
  padding:5px;
}
.status:hover {
  font-size:1vw;
  background-color:white;
  color:red;
  padding:5px;
}

.status-button {
  /* margin: auto; */
  font-size:.5vw;
  /* text-align:center; */
  min-width:12px;
}

.status-button button{
  /* margin-right:40px; */
  font-size:.8vw;
  margin:auto;
}

.status-button  p{
text-align: center;

}

.list-index {
  font-size:1vw;
}

.center {
  text-align:center;
}
.status-text {
  width:120px;
  
}
.order-text {
  width:40px;
  
}
.vendor-text {
  width:90px;
  
}
.dest-text {
  width:130px;
  
}
.numItems-text {
  width:80px;
  
}
.driver-text {
  width:90px;
  
}
.app {
  background: #209cee;
  padding: 30px;
  font-family: sans-serif;
  min-height: 150vh;
}

.newOrder {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  font-size: 12px;
}
.dashboard{
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}
.pickup p {
  text-align: center;
}
.top{
  padding:0;
  margin: auto;
}
.order p {
  text-align: center;
}
.order-form {

  padding-inline-start: 10px;

}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


.bold {
  font-weight:800;
}
.big {
  font-size: 1.8vw;
}
.center {
  text-align: center;
}
.center p {
  margin:0 auto;
}
.Button {
  padding: 0 24px;
  background-color: rgb(142, 186, 228);
  border-radius: 4px;
  color: black;
  font-weight: bold;
}

.pending_Button, .dispatching_Button {
  background: red;
  color: black;
  font: size 0.7vw;
  padding: 24px;
  border-radius: 4px;
  font-weight: bold;
}
.pending_Button:hover, .dispatching_Button:hover {
  color:#666666;
  cursor: pointer;
}
.picked_up_Button, .en_route_Button {
  background: gold;
  color: black;
  font: size 0.7vw;
  padding: 24px;
  border-radius: 4px;
  font-weight: bold;
}
.picked_up_Button:hover, .en_route_Button:hover {
  color:#999999;
  cursor: pointer;
}

.dropped_off_Button, .delivered_Button, .ready_Button {
  background: green;
  color: white;
  font: size 0.7vw;
  padding: 24px;
  border-radius: 4px;
  font-weight: bold;
}

.dropped_off_Button:hover, .delivered_Button:hover {
  color:#333333;
  cursor: pointer;
}
.Button:hover {
  cursor: pointer;
}
.index {
  margin:0 auto;
}
.small {
  font-size: 1vw;
}
.reverse {
  background-color:#cccccc;
  color:#000000;
  padding:0 5px;
  font-weight:800;
  border-radius:4px;
}
.deliveryDest {
  /* padding:0; */
  text-align:center;
}
.deliveryDest p{
  margin: auto;
}
.deliveryInstructions{
  font-style: italic;
}

.pickupLocation p{
  margin: auto;
}
.orderDest {
  min-width: 175px;
  margin:auto;
  text-align:center;
}
.orderDest p{
  padding:0;
  margin: auto;
}
.detail {
  font-size:.8vw;
  margin:0;
}
.details {
  font-size:1.1vw;
}
.makeModel {
  margin-bottom:0px;
}
.orderContents {
  min-width: 175px;
  margin:auto;
  text-align:center;
}
.orderSize {
  min-width: 175px;
  margin:auto;
  text-align:center;
}
.delete {
  background-color:red;
}
.order-list {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.small-list p {
  margin: auto;
}