body {
  margin:0;
}
h1 {
  font-size:4vw;
  background: black;
  color:#eeeeee;
  border-radius: 4px;
  padding: 5px 10px 5px 2px;
  text-align: center;
  display:flex;
  align-items: flex-start;
}
h2 {
  font-size:3.5vw;
  color:#ffffff;
  
  text-shadow: 1px 1px black;
}
h3 {
  font-size:2.5vw;
  margin: auto; 
}
h4 {
  font-size:2vw;
  margin:0 5px 0 0;
  background: #cccccc;
  color: #000000;
  border-radius: 4px;
  padding: 3px;
  text-align: center;
}
li {
  list-style-type: none;
}


button:hover {

  cursor: pointer;
}
a{
  text-decoration:'none';
  color:'black';
}


#root {
  padding:0;
  margin:0;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}
.updated {
  font-size:1vw;
}

.timeago {
  font-size:.8vw;
}
.status-display {
  flex-direction: row;

  flex-wrap: wrap;
  display:flex;
  align-content: space-around;
}

.status {
  font-size:1.5vw;
  background-color:transparent;
  color:white;
  padding:5px;
  text-align:center;
}
/* .status:hover {
  font-size:1.1vw;
  font-weight:800;
  color:red;
  padding:5px;
} */


.list-index {
  font-size:1vw;
}

.center {
  text-align:center;
}
.status-text {
  /* width:120px; */
  
}
.order-text {
  width:40px;
  
}
.vendor-text {
  width:90px;
  
}
.dest-text {
  width:130px;
  
}
.numItems-text {
  width:80px;
  
}
.driver-text {
  width:90px;
  
}
.app {
  background: #209cee;
  padding: 30px;
  font-family: sans-serif;
  min-height: 150vh;
}
.header {
  display:flex;
  align-items: flex-start;
}
.newOrder {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  /* max-width: 400px; */

}
.order{
  background: #fff;
  border:#666666 1px solid;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;

  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  /* justify-content: center; */
}
.orderOrigin {
  border:1px solid #cccccc;
  background-color:#ffffff;
  color:#000000;
  padding:5px;
  margin:5px 0;
  border-radius: 4px;
}
.orderOrigin p {
  font-size:1vw;
  font-weight:800;
}
.orderDest {
  /* min-width: 175px; */
  width:20%;
  /* margin:auto; */
  text-align:center;
  margin-right:10px;
}
.orderDest p{
  padding:0;
  margin: auto;
  font-size:1.25vw;
}
.orderDest .deliveryInstructions{
  font-style: italic;
  margin-top:5px;
  background: yellowgreen;
  padding:3px 0;
  border-radius: 4px;
  border:#cccccc 1px solid;
}
.pickup p {
  text-align: center;
}
.top{
  padding:0;
  margin: auto;
}

.order p {
  text-align: center;
}
.order-form {

  padding-inline-start: 10px;

}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}
.row {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
}


.bold {
  font-weight:800;
}
.big {
  font-size: 1.8vw;
}
.center {
  text-align: center;
}
.center p {
  margin:0 auto;
  text-align:center;
}
.Button {
  padding: 0 24px;
  background-color: rgb(142, 186, 228);
  border-radius: 4px;
  color: black;
  font-weight: bold;
}
.undeliverable {
  background: red;
}

.status-button {
  width:25%;
}
.status-button button {
  /* min-width:80px; */
  border:1px solid #cccccc;
  margin:3px;
  width:15vw;
  border-radius:4px;
  height:10vw;
  text-align: center;
}
.status-button button.pending {
  background: #eeeeee;
  border-color: #666666;
}
.pending p{
  color:#999999;
}
.completed {
  background: green;
}

.picked_up, .en_route {
  background: gold;
  color: black;
  font: size 0.7vw;
  padding: 24px;
  border-radius: 4px;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
}
.index {
  margin:0 auto;
}
.small {
  font-size: 1vw;
}
.reverse {
  background-color:#cccccc;
  color:#000000;
  padding:0 5px;
  font-weight:800;
  border:1px solid #666666;
  border-radius:4px;
}
.deliveryDest {
  /* padding:0; */
  text-align:center;
}
.deliveryDest p{
  margin: auto;
}


.pickupLocation p{
  margin: auto;
}

.detail {
  font-size:.8vw;
  margin:0;
}
.details {
  font-size:1.1vw;
}
.makeModel {
  margin-bottom:0px;
}
.orderContents {
  min-width: 175px;
  margin:auto;
  text-align:center;
}
.orderSize {
  min-width: 175px;
  margin:auto;
  text-align:center;
}
.delete {
  background-color:red;
}
.order-list {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.small-list p {
  margin: auto;
}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
.login-section p {
  font-size:2vw;
}
.form-error {
  color:red;
  font-size:2vw;
  font-weight:800;
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
 .break {
  flex-basis: 100%;
  height: 0;
}
.undeliverable {
  background:red;
}
.logout {
  border-radius:12px;
  padding:5px;
  background:gold;
  font-weight:bold;
  margin:auto 10px;
}
.solid {
  animation:none;
}
.blinking{
  animation:blinkingText .8s 4s;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}
@supports (-webkit-text-stroke: 1px black) {
  .form-error {
    -webkit-text-stroke: .33px black;
    -webkit-text-fill-color: red;
  }
}

