
h1 {

  background: transparent;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}
h3 {
  margin:0 5px 0 0;
  background: #000000;
  color: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}
h4 {
  margin:0 5px 0 0;
  background: #cccccc;
  color: #000000;
  border-radius: 4px;
  padding: 3px;
  text-align: center;
}
li {
  list-style-type: none;
}

button {
  /* margin-right:40px; */
  text-align: center;
}
button p{
  /* margin-right:40px; */
  text-align: center;
}
a{
  text-decoration:'none';
  color:'black';
}
p {
  font-size:.8vw;
}

.status-button {
  /* margin: auto; */
  font-size:.5vw;
  text-align:center;
  min-width:170px;

}


.updated {
  font-size:.6vw;
}

.timeago {
  font-size:.4vw;
}

.status {
  font-size:1vw;
  background-color:black;
  color:white;
  padding:5px;
}
.status:hover {
  font-size:1vw;
  background-color:white;
  color:red;
  padding:5px;
}

.status-button button{
  /* margin-right:40px; */
  font-size:.8vw;
  margin:auto;
}

.status-button  p{
text-align: center;

}

.list-index {
  font-size:.6vw;
}

.center {
  text-align:center;
}
.status-text {
  width:120px;
  
}
.order-text {
  width:40px;
  
}
.vendor-text {
  width:90px;
  
}
.dest-text {
  width:130px;
  
}
.numItems-text {
  width:80px;
  
}
.driver-text {
  width:90px;
  
}
.app {
  background: #209cee;
  padding: 30px;
  font-family: sans-serif;
  min-height: 150vh;
}

.order-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;

}
.newOrder {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  font-size: 12px;
}
.order, .pickup, .delivery, .driver, .depot, .zone {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.pickup p {
  text-align: center;
}
.order-form {

  padding-inline-start: 10px;

}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


.bold {
  font-weight:800;
}
.big {
  font-size: .9vw;
}
.center {
  text-align: center;
  margin:0 auto;
}
.center p {
  margin:0 auto;
}
.Button {
  padding: 0 24px;
  background-color: rgb(142, 186, 228);
  border-radius: 4px;
  color: black;
  font-weight: bold;
}

.pending_Button, .dispatching_Button {
  background: red;
  color: black;
  font: size 0.7vw;
  padding: 24px;
  border-radius: 4px;
  font-weight: bold;
}
.pending_Button:hover, .dispatching_Button:hover {
  color:#666666;
  cursor: pointer;
}
.pickedUp_Button, .en_route_Button {
  background: gold;
  color: black;
  font: size 0.7vw;
  padding: 24px;
  border-radius: 4px;
  font-weight: bold;
}
.pickedUp_Button:hover, .en_route_Button:hover {
  color:#999999;
  cursor: pointer;
}

.dropped_off_Button, .delivered_Button {
  background: green;
  color: white;
  font: size 0.7vw;
  padding: 24px;
  border-radius: 4px;
  font-weight: bold;
}

.dropped_off_Button:hover, .delivered_Button:hover {
  color:#333333;
  cursor: pointer;
}
.Button:hover {
  cursor: pointer;
}
.index {
  margin:0 auto;
}
.small {
  font-size: .6vw;
}
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid #999999;
  /* become a flex container */
  /* its children will be flex items */
  display: flex;
  /* place items in column */
  flex-direction: column;
  /* center flex items horizontally */
  align-items: center;
  /* center all content vertically */
  justify-content: center;
  padding:10px;}

.circle:hover {
  cursor: pointer;
}

button.circle {
padding:25px;
}

.deliveryDest {
  min-width: 175px;
  margin:auto;
  text-align:center;
}
.deliveryDest p{
  margin: auto;
  font-size:1vw;
}
.deliveryInstructions{
  font-style: italic;
}

.pickupLocation p{
  padding:0;
  margin: auto;
}
.details {
  font-size:.5vw;
}